<!Doctype html>
    <htaml lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Inicio</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcnd.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!--Reglas de estilo-->
       <style type="text/css">
          body
          {
          background:#f9fbf8; /* fallback for old browsers */
          background: -webkit-linear-gradient(right, #30023b,#2b055c);
          background: -moz-linear-gradient(right, #30023b,#2b055c);
          background: -o-linear-gradient(right, #30023b,#2b055c);
          background: linear-gradient(right, #30023b,#2b055c);
          -webkit-front-smoothing: antialiased;
          -moz-osx-front-smoothing: grayscale;
          }
       </style>
     </head>
 <body>
    <nav class= "navbar navbar-expand-lg navbar-light bg-light">
        <a class= "navbar-brand " href="#">
        <img src="static/Diabet.ico"width="150" heigth="80" class="d-inline-block-align-top" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class ="nav-item activate">
              <a class="nav-link"  action="{{url_for('crud_admin')}}" method="post" href="#">Home<span class="sr-only"> (current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/croud_admin">Administrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/type_food">Registro Alimentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Ayuda</a>    
            </li>
          </ul>
        </div>
      
        <!--Salida de la aplicación-->
        <span class="btn btn-primary">Cerrar Sesion</span>
        <a href="/logout" class= "btn btn-danger float-right" role="button" aria-pressed="true">x</a>
   </nav>
 </body>
</html>