<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        body {
          font-family: Arial, Helvetica, sans-serif;
        }
        
        /* Style the header */
        header {
          background-color: rgb(55, 41, 250);
          padding: 10px;
          text-align: center;
          font-size: 35px;
          color: white;
        }
    </style>


</head>

<body>
    <header>
    <h2>Crea tu perfil</h2>
    </header>
    <form class="Profile" action="{{url_for('create_profile')}}" method='post'>
        <h5>Ingresa los siguientes datos</h5>
        <div>
            
            <select  type="text" name="sex"  placeholder="Sexo">
                <option>Mujer</option>
                <option>Hombre</option>
            </select>
        </div>
        <div>
            <input type="number" name="age" required  placeholder="Age">
        </div>
        <div>
            <input type="number" name="height" required placeholder="Altura (m)" step="Any">
        </div>
        <div>
            <input type="number" name="weight" required placeholder="Peso (kg)" step="Any">
        </div>
        <div>
            
            <select type="text" name="insulin_type" placeholder="Tipo de insulina">
                <option>Humulin R</option>
                <option>Novolin R</option>
                <option>Glulisina (Apidra)</option>
                <option>Lispro (Humalog)</option>
                <option>Aspart (Novolog)</option>
                <option>Glargina (Lantus/Toujeo Solostar)</option>
                <option>Detemir (Levemir)</option>
                <option>Degludec (Tresiba)</option>
                <option>NPH (Humulin N/Novolin N)</option>
            </select>
        </div>
        <div>
            <button>Submit</button>
        </div>
   
</body>
</html>